PORT=3001 # Port used
NODE_ENV="staging" # Project environment
SESSION_SECRET= # Session secret (32-length)
COOKIE_PARSER_SECRET= # Session secrett (32-length)
DB_USER= # Postgres user
DB_PASSWORD= # Password for Pgadmin
DB_HOST="localhost" # Host for Postgres
DB_PORT=5432 # Default Postgres port
DB_NAME= # Name of Database